body{
    margin:0px;
}
.title{
    display: flex;    
    align-items:center;
    justify-content: center;      
    background-color:#223344;
    font-size: 40px;
    color: white;
    height: 100px;
    margin-bottom: 25px;
}
.text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:20px;
    font-weight: bold;
}
.text2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:20px;
}